.searchbar {
  background: blue;
}

/* .search_container {
  margin-bottom: 16px;
  max-width: 400px;
} */

.search_field {
  width: 450px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
